body {
  background-size:contain;
  background-repeat: repeat;
  background-color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.menu {
  height: 80px;
  display: grid;
  grid-template-columns: 300px auto 600px;
  grid-template-rows: 1fr;
  background-size:contain;
  background-repeat: repeat;
  background-color: black;
  color: white;
  }

  .left {
    padding-left: 30px;
  }

  .right {
    padding-right: 30px;
    text-align:right;
  }

  nav {
    color: white;
    padding-top: 30px;
  }

  Nav a{
       color: #f2f2f2;
       text-decoration:none;
       padding: 10px;
  }

  Nav a:hover {
      color: blue;
      text-decoration: underline;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px 10px 300px;
  }
  #what {
    background-color: white;
    background-size: contain;
    grid-column: 1 / -1;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }

  .header {
    grid-column: 1 / -1;
    background-color: white;
    background: url('images/code.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    padding-top: 140px;
    color: white;
    text-align: center;
    }

  .content {
    background-color: white;
    background-size: contain;
    padding-top: 90px;
    padding-left: 50px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
  }

.footer {
  background-size:contain;
  background-repeat: repeat;
  background-color: black;
  color: white;
  height: 100px;
  padding-top: 30px;
  text-align:center;
}
